<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.temkinda.cvision.mapper.DepartmentMapper">
    <resultMap id="department" type="org.temkinda.cvision.model.Department" autoMapping="true">
    <result property="id" column="id"/>
    <result property="depName" column="dep_name"/>
    <result property="creationDate" column="creation_date"/>
    </resultMap>

    <select id="get" parameterType="java.lang.Long" resultMap = "department">

        select * from departments
        <if test="id != null">
        where id = #{id} order by id
        </if>
    </select>
    <insert id="insertDepartment" parameterType="org.temkinda.cvision.model.Department">
        insert into departments (dep_name, creation_date, id_parent_department)
        <if test="#{depName} != dep_name">
            values (#{depName}, #{creationDate}, #{idParentDepartment})
        </if>
    </insert>
    <update id="changeNameDepartment" parameterType="org.temkinda.cvision.model.Department">
        update departments set dep_name = #{depNameNew}
        where dep_name = #{depName}
    </update>
    <delete id="deleteDepartment" parameterType="org.temkinda.cvision.model.Department">
        delete from departments where dep_name = #{depName}
    </delete>
</mapper>